.prompt-text-field .text {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.prompt-label {
    -fx-text-fill: grey;
}

.spell-creation-box {
    padding: null;
    -fx-padding: 10px;
}

.grid-pane {
    -fx-alignment: center;
}

.create-button {
    -fx-alignment: center;
    -fx-visible: true;
}